/** @format */

.coded-by {
  text-align: center;
  font-size: 15px;
  padding: 0 0 10px 0; 
}
#open-source-link {
  text-decoration: none;
}

#open-source-link:hover {
  text-decoration: underline;
}
