/** @format */

img {
  max-width: 65%; 
  height: auto; 
  border-radius: 10px;
  display: block;
  margin: 10px auto auto auto;  
}

h3 {
  font-size: 15px;
  margin: 0 auto;
}

hr {
  border: 1px solid rgba(192, 192, 192, 0.5);
}

.top-row {
  max-height: 275px;
  padding: 15px 0; 
}

.form {
  text-align: center;
  font-size: 20px;
  max-width: 350px;
  height: auto;
  margin: auto; 
}

.button {
  font-size: 20px;
  margin: 10px auto; 
  border-radius: 7px;
  transition: all 150ms ease-in-out;
  background: transparent;
  color: #ffffff; 
  border: 1px solid #ffffff;
}

.button:hover {
  color: #1A283E;
  background: #c0c0c0;
  border: 1px solid #1A283E;
}

.quote {
  text-align: center;
  font-size: 18px;
  opacity: 0.9;
  margin: auto; 
}

.current-info-row {
  max-height: 275px;
  padding: 15px 0; 
}

.current-city {
  font-size: 30px;
  text-align: center;
  margin: auto; 
}

.date-time {
  font-size: 15px;
}

.temp {
  font-size: 27px;
  padding: 5px 0 0 0; 
  margin: auto; 
}

.units {
  text-decoration: none;
  font-size: 17px;
  vertical-align: top;
}

.active {
  color: #ffffff;
  cursor: default;
}

.active:hover {
  text-decoration: none;
}

.icon-description {
  font-size: 25px;
  text-align: center;
  margin: auto; 
}

.current-forecast {
  text-align: center;
  font-size: 25px;
  opacity: 0.9;
  line-height: 1.5;
  margin: auto; 
}

#search-box {
  border-radius: 5px;
  border: 1px solid rgb(85, 97, 102);
}

#icon {
  text-align: center; 
}

#description:first-letter {
  text-transform: capitalize;
}

#description {
  margin: auto;
}

#forecast {
  text-align: center;
  font-size: 20px;
  margin: 0 auto;
  line-height: 2;
}
